.App {
  margin: 10px 15px;
  position: relative;
}

.anim {
  position: absolute;
  font-size: 50px;
}

.anim > div {
  opacity: 0;
}

.anim.one {
  left: 200px;
  transform: rotate(20deg);
}

.anim.two {
  top: 100px;
  left: 15px;
  transform: rotate(-10deg);
}